.chats-index .btn-primary {
  background-color: #3e6658;
  border-color: #3e6658;
  border-radius: 10px;
  padding: 10px 20px;
}

.chats-index .btn-primary:active {
  background-color: #29483d;
  border-color: #29483d;
}

.chats-index .list-group-item {
  border-radius: 10px;
  margin-bottom: 8px;
}
